<%- include('sections/partials/headerMain') -%>
<section class="secundaryNavegation">
    <ul class="flex items-center gap-12">
        <li><a href="/<%= title %>/inbox">Inbox</a></li>
        <li><a href="/<%= title %>/projects/inprogress">Projects</a></li>
        <li><a href="/<%= title %>/tasks">Tasks</a></li>
        <li><a href="/<%= title %>/goals">Goals</a></li>
        <li><a href="/<%= title %>/dashboard">Dashboard</a></li>
    </ul>
    <hr>
</section>
<%- include('sections/partials/footer') -%>